<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <nav class="navbar navbar-expand-md navbar-light bg-light shadow">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Modelo Angular</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf=" !userSession.name ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/login']">Login</a>
                </li>
                <li>
                  <a class="nav-link active" aria-current="page" [routerLink]="['/registrar']">Registrar</a>
                </li>
              </ul>
              <ul class='navbar-nav me-auto'></ul>

              <ul class="navbar-nav  navbar-right">
                <li class="nav-item dropdown">
                  <a class="navbar-brand" href="#">
                    <img src="{{ userSession.img }}" alt="" width="30" height="24" *ngIf=" userSession.img && userSession.name" class="rounded-circle" style="width: 2.5rem; height: 2.5rem;">
                    <img src="../assets/image/default.png" alt="" width="30" height="24" *ngIf="!userSession.img && userSession.name" class="rounded-circle" style="width: 2.5rem; height: 2.5rem;">
                  </a>
                </li>
              </ul>

              <ul class="navbar-nav navbar-right mb-2 mb-lg-0" *ngIf=" userSession && userSession.name">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ userSession.name +' '+ userSession.surname }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" [routerLink]="['/user-edit', userSession.uid]">Editar</a></li>
                    <li><a class="dropdown-item" href="#">Cambiar Correo</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]="['/user', userSession.uid]">My perfil</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/logout/1']" tabindex="-1" >Salir</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>

      </div>
    </div>

    <!-- llamar las rutas que emos creado -->
    <router-outlet></router-outlet>
</div>


</body>
</html>
